// Sizes
$maxWidth: 1210px;
$fontSize: 20px;
$fontSizeSmall: 16px;
$margin: 1.5rem;

// Colors
$veryLightGrey: #EDEDED;
$lightGrey: #D9D9D9;
$darkGrey: #444444;
$blue: #4B72FF;

// Color placements
$dividerColor: $veryLightGrey;
$articleBackground: #ffffff;
$textColor: $darkGrey;
