@import 'utils';

.PostWrapper {
  padding: 0 2rem 2rem;
  border-bottom: 1px solid $dividerColor;
  background: $articleBackground;
}

.ArticlePage {
  padding: 0 2rem 2rem;
  border-right: 1px solid $dividerColor;
  background: $articleBackground;
}

.ArticleHeading {
  margin-top: 0;
}

.PostLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.PostTags {
  font-family: "Barlow Semi Condensed", sans-serif;

  ul {
    display: flex;
    margin: 1.5rem 0 1rem;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    color: $blue;
    text-transform: uppercase;
    font-size: rem(15px);

    &:first-child {
      font-weight: 900;
    }

    &:after {
      content: "/";
      font-weight: 300;
      margin: 0 0.25rem;
    }

    &:last-child {

      &:after {
        content: "";
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.PostMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.TimeDisplay {
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  text-transform: uppercase;
  font-size: rem(16px);

  svg {
    stroke: $blue;
    fill: $blue;
    margin-right: 1rem;
    width: 20px;
    height: 20px;
  }
}

.AuthorDisplay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 1rem;

  img {
    display: block;
    margin-right: 1rem;
  }
}
