@import 'utils';

.ArticleWrapper {
  padding: 2rem;
  border-bottom: 1px solid $lightGrey;
  background: #ffffff;
}

.ArticlePage {
  padding: 2rem;
  border-right: 1px solid $lightGrey;
  background: #ffffff;
}
