@import 'utils';

.Post {
  background: $articleBackground;
  padding: ($margin - 0.5rem) $margin 0;
  margin-top: $margin;
  margin-bottom: $margin;
  border-radius: 30px;
  box-shadow: 5px 5px 20px 0 rgba(0, 10, 50, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease-out, box-shadow 0.125s ease-out;

  &:hover {
    transform: scale(1.015);
    box-shadow: 10px 10px 50px 0 rgba(0, 10, 50, 0.15);
  }

  .MediaImage {
    margin-bottom: 0;
  }
}

.Message {
  background: transparent;
  margin-top: $margin;
  margin-bottom: $margin;
  border: 1px solid #dedede;
  padding: ($margin - 0.25rem) $margin 0.25rem;
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.005);
  }

  .MediaImage {
    margin-top: $margin / 1.5;
    margin-bottom: 0;
  }

  .ArticleBody {
    margin: ($margin / 2) 0 ($margin / 1.5);
  }
}

.NoEffectMessage {
  &:hover {
    transform: none;
  }
}

.ArticleHeading {
  margin: ($margin / 1.5) 0 1rem;
}

.PostLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.PostTags {
  font-family: 'Barlow Semi Condensed', sans-serif;

  ul {
    display: flex;
    margin: 0 0 ($margin / 2);
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    color: $blue;
    text-transform: uppercase;
    font-size: rem(15px);

    &:first-child {
      font-weight: 900;
    }

    &:after {
      content: '/';
      font-weight: 300;
      margin: 0 0.25rem;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.TimeDisplay {
  color: $grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;

  svg {
    margin-right: 0.75rem;
    width: 0.875rem;
    height: 0.875rem;

    path {
      fill: $grey;
    }

    @include medium {
      width: 1rem;
      height: 1rem;
    }
  }
}

.AuthorDisplay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;

  img {
    display: block;
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    @include big {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

.PostMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: ($margin / 2) (-$margin) 1rem;
  padding: 0.5rem $margin;
  font-size: rem(16px);

  @include medium {
    font-size: rem(18px);
  }
}

.MessageMeta {
  border-top: 1px solid #dedede;
  border-bottom: 0;
  margin-bottom: 0;
  font-size: rem(14px);
  margin-top: 0;
  background: transparent;

  .TimeDisplay {
    svg {
      margin-right: 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  .AuthorDisplay {
    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}

.MediaImage {
  display: block;
  min-width: 100%;
  margin: 0 (-$margin) $margin;
  background-size: cover;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.ArticlePage {
  padding-top: 0;

  .PostMeta {
    background: transparent;
    border: 0;
  }
}

.ArticleBody {
  margin: ($margin / 2) 0 $margin;
}

.ArticleExcerpt {
  margin: $margin / 1.5 0;
}
