@import 'utils';

.Header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -0.5rem;

  @include multiColumn {
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: $margin;
    position: relative;
  }
}

.Logo {
  width: rem(120px);
  display: block;

  h1 {
    display: inline;
  }

  @include multiColumn {
    width: rem(200px);
    margin-bottom: $margin;
  }

  img {
    display: block;
    width: 100%;
  }
}

.HeaderContent {
  max-width: 100%;

  @include multiColumn {
    position: fixed;
    max-width: rem(210px);
  }
}

.mobileHide {
  display: none;

  @include multiColumn {
    display: block;
  }
}
