@import 'utils';

.Viewport {
  max-width: 1920px;
  width: 100%;
}

.LayoutWrapper {
  width: 100%;
  min-height: 100vh;
  max-width: $width;
  padding: 1rem;
  margin: 0 auto;

  @include big {
    padding: 0;
    display: grid;
    max-width: 960px;
    grid-template-columns: #{rem(200px)} #{rem(760px)};
  }
}

.Page {
  background: $articleBackground;
  padding: $margin $margin 0;
  margin-top: $margin;
  margin-bottom: $margin;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  width: calc(100% + 2rem);
  margin-left: -1rem;

  @include medium {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  @media screen and (min-width: calc(#{$width} - #{$margin})) {
    width: calc(100% + #{$margin * 1.5});
    margin-left: -(($margin * 1.7) / 2);
  }

  @include big {
    border-radius: 30px;
    border: 1px solid #efefef;
    box-shadow: 10px 10px 50px 0 rgba(0, 10, 50, 0.05);
  }
}

.PageContent {
}
