@import '../style/utils';

.Header {
  padding-top: 1rem;
  border-right: 1px solid #D9D9D9;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Logo {
  width: rem(133px);
  display: block;
}
